.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  margin-top: 80px;
  color: #0066FF; 
}
.project_card {
  width: 25rem;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid #0066FF !important;
}


.card-top-border {
  border-top: 2px solid  #0066FF;
}

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  border: 1px solid #0066FF;
  border-radius: 10px;
  padding: 10px;
}

.signup-card {
  border: 1px solid #0066FF;
  border-radius: 10px;
  padding: 10px;
}

.forgotpassword-card {
  border: 1px solid #0066FF;
  border-radius: 10px;
  padding: 10px;
}

/* enable absolute positioning */
.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .fa {
position: absolute;
padding: 10px;
pointer-events: none;
color: #0066FF;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.primary-button {
  background-color: #0066FF;
  border-color: #0066FF;
  border-radius: 4px;
  width: 100%;
  margin: 0 !important;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
